{% extends 'base.html' %}

{% block styles %}
<style>
  body,
  html {
    height: 100%;
  }

  .messages-box {
    flex: 1;
    overflow-y: auto;
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
  }

  .message-text {
    padding: 10px;
    border-radius: 5px;
  }

  .sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }

  .received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .salesOrderNumber-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .product-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .email-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .advice-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
  }

  .track-shipment {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .product-description {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .email {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .advice {
    flex: 1;
    border-radius: 0;
    border-right: none;
  }

  .btn-send {
    border-radius: 0;
    margin-right: 20px;
  }

  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .options-container.hidden {
    display: none;
  }

  .option-button {
    margin: 10px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .option-button:hover {
    background-color: #007bff;
    color: #fff;
  }

  .forgot-button {
    margin: 10px;
    padding: 5px;
    border: 0px;
    background-color: #fff;
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .forgot-button:hover {
    background-color: #007bff;
    color: #fff;
  }
</style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white">Chat</div>

    <div class="card-body messages-box">

      <ul class="list-unstyled messages-list">

        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hallo, ich bin Ihr AI-Chatbot, Sie können mich alles fragen!
            </div>
          </div>
        </li>
        <!-- Options Container -->
        <!-- This div contains buttons for different user actions related to order management -->
        <div class="options-container" id="first-set-options" style="display:block">
          <!-- Track Shipment Button -->
          <!-- Clicking this button triggers shipment tracking functionality -->
          <button type="button" class="option-button" onclick="trackShipment()">Lieferung verfolgen</button>
          <!-- Product Search Help Button -->
          <!-- Clicking this button helps users in finding a product -->
          <button type="button" class="option-button" onclick="findProduct()">Hilfe bei der Produktsuche</button>
          <!-- Request Return Button -->
          <!-- Clicking this button initiates a product return request -->
          <button type="button" class="option-button" onclick="requestReturn()">Rückgabe beantragen</button>
        </div>

        <!-- Displays the selected option as a sent message-->
        <li class="message sent">
          <div class="message-text" id="first-answer" style="display:none;">
            <div class="message-sender">
              <b>Sie</b>
            </div>
            <div class="message-content">
            </div>
          </div>
        </li>

        <!-- Track Shipment Section -->
        <!-- This section is initially hidden and is displayed when the user opts to track a shipment -->
        <div id="track-shipment" style="display:none;">
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                Bitte geben Sie die Auftragsnummer ein
                <!-- Forgot Order Number Button -->
                <!-- Provides an option for users who forgot their order number -->
                <button id="forgot-button" type="button" class="forgot-button" onclick="forgotNumber()"
                  style="display:block">Ich habe die Auftragsnummer vergessen</button>
              </div>
            </div>
          </li>
          <!-- Dynamically Generated Chat Messages -->
          <!-- Loop through each chat entry related to the current user -->
          {% for chat in chats %}
          {% if chat.user == request.user %}

          <!-- Sent Message Template -->
          <!-- This list item represents a message sent by the user -->
          <li class="message sent">
            <div class="message-text">
              <div class="message-sender">
                <b>Sie</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </li>
          <!-- Received Message Template -->
          <!-- This list item represents a response from the chatbot -->
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                {{chat.response}}
              </div>
            </div>
          </li>

          {% endif %}
          {% endfor %}

          <!-- Sales Order Number Form -->
          <!-- This form allows users to input their sales order number for tracking purposes -->
          <form class="salesOrderNumber-form">
            {%csrf_token%}
            <div class="input-group">
              <input type="text" id="sales-order-number" class="track-shipment" name="salesOrderNumber">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-send">Senden</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Email Form -->
        <!-- Hidden by default; displayed when the user clicks the "Forgot Order Number" button -->
        <form class="email-form" style="display:none;">
          {%csrf_token%}
          <div class="input-group">
            <input type="text" id="email" class="email" name="email">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-send">Senden</button>
            </div>
          </div>
        </form>


        <!-- Product Recommendation Section -->
        <!-- This section is initially hidden and is displayed when the user needs help finding products -->
        <div id="find-product" style="display:none;">
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                Bitte beschreiben Sie, welche Art von Produkt Sie suchen?
              </div>
            </div>
          </li>
          <!-- Dynamically Generated Chat Messages -->
          <!-- Loop through each chat entry related to the current user -->
          {% for chat in chats %}
          {% if chat.user == request.user %}
          <!-- Sent Message Template -->
          <!-- This list item represents a message sent by the user -->
          <li class="message sent">
            <div class="message-text">
              <div class="message-sender">
                <b>Sie</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </li>
          <!-- Received Message Template -->
          <!-- This list item represents a response from the chatbot -->
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                {{chat.response}}
              </div>
            </div>
          </li>

          {% endif %}
          {% endfor %}

          <!-- Product Form -->
          <!-- This form allows users to input the description of the product they want to find -->
          <form class="product-form">
            {%csrf_token%}
            <div class="input-group">
              <input type="text" id="product-info" class="product-description" name="productDescription">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-send">Senden</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Chat Form -->
        <!-- This form allows users to send their message to chatbot. This form is used during the second stage of product recomendation feature -->
        <form class="advice-form" style="display:none;">
          {%csrf_token%}
          <div class="input-group">
            <input type="text" id="advice" class="advice" name="advice">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-send">Senden</button>
            </div>
          </div>
        </form>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
</div>

<script>
  // Flag to indicate if the forget order number function is used for the first time
  let isFirstTimeForgotFunc = true;

  // Function to handle the tracking of shipments
  function trackShipment() {
    // Access various elements on the page that will be manipulated
    const messagesList = document.querySelector('.messages-list');
    const hiddenDiv = document.getElementById('track-shipment');
    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    // Display the 'track-shipment' div
    hiddenDiv.style.display = 'block';
    // Hide the block with the initial choice options
    options.style.display = 'none';
    // Display the selected option as a "sent" by the user message in the chat
    firstAnswer.style.display = 'block';
    content.textContent = 'Lieferung verfolgen';

    // Get the form and input elements for submitting the sales order number
    const salesOrderNumberForm = document.querySelector('.salesOrderNumber-form');
    const salesOrderNumber = document.querySelector('.track-shipment');

    // Add event listener for form submission to prevent default form submission and handle it
    salesOrderNumberForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const message = salesOrderNumber.value.trim();
      const messageName = salesOrderNumber.name;
      // Check if the message is empty
      if (message.length === 0) {
        return;
      }

      // Create a new message item and append it to the message list as a "sent" by the user message
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      // Clear the input field after sending the message
      salesOrderNumber.value = '';
      // Hide the Forgot Order Number Button
      const forgetButton = document.getElementById('forgot-button');
      forgetButton.style.display = 'none';

      // Send the form data to the server
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const isFound = data.isFound;
          const messageItem = document.createElement('li');

          // Display the server's response as a "sent" by chatbot message
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);

          // If the sales order was not found: repeat
          if (!isFound) {
            trackShipment();
          } else {          // Otherwise show the final message
            const messageItem = document.createElement('li');
            messageItem.classList.add('message', 'received');
            messageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                  <b>AI Chatbot</b>
                </div>
                <div class="message-content">
                  Brauchen Sie noch Hilfe?
                </div>
            </div>
            <div class="options-container" id="end-set-options" style="display:block">
                <button type="button" class="option-button" onclick="restartBot()">Ja bitte</button>
                <button type="button" class="option-button" onclick="ending()">Nein danke</button>
                <button type="button" class="option-button" onclick="humanSupportHelp()">Kontakt mit menschlicher Hilfe</button>
              </div>
              `;
            messagesList.appendChild(messageItem);
          }

        })
        .catch(error => {
          console.error('Error:', error);
        });
    });
  }

  // Function to handle the product search
  function findProduct() {

    // Access various elements on the page that will be manipulated
    const messagesList = document.querySelector('.messages-list');
    const hiddenDiv = document.getElementById('find-product');
    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    // Display the 'find-product' div block
    hiddenDiv.style.display = 'block';
    // Hide the block with the initial choice options
    options.style.display = 'none';
    // Display the selected option as a "sent" by the user message in the chat
    firstAnswer.style.display = 'block';
    content.textContent = 'Hilfe bei der Produktsuche';

    // Get the form and input elements for querying products
    const productForm = document.querySelector('.product-form')
    const productDescription = document.querySelector('.product-description');

    // Add event listener for form submission to prevent default form submission and handle it
    productForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const message = productDescription.value.trim();
      const messageName = productDescription.name;
      // Check if the message is empty
      if (message.length === 0) {
        return;
      }

      // Create a new message item and append it to the message list as a "sent" by the user message
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      // Clear the input field after sending the message
      productDescription.value = '';
      productForm.style.display = 'none';

      // Send the form data to the server
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const messageItem = document.createElement('li');

          // Display the server's response as a "sent" by chatbot message
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
                  <br><p> Wenn Sie Fragen zu den Produkten in der Liste haben, können Sie mich fragen. </p>
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem)

        })
        // Start adviceBot function immediately after finishing the current function
        .then(adviceBot)
        .catch(error => {
          console.error('Error:', error);
        });
    });
  }

  // Function to handle the messages generation feature
  function adviceBot() {
    // Access various elements on the page that will be manipulated
    const adviceForm = document.querySelector(".advice-form");
    const adviceMessage = document.querySelector('.advice');
    const messagesList = document.querySelector('.messages-list');

    //Display the 'advice-form' div block
    adviceForm.style.display = "block";

    // Add event listener for form submission to prevent default form submission and handle it
    adviceForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const message = adviceMessage.value.trim();
      const messageName = adviceMessage.name;
      // Check if the message is empty
      if (message.length === 0) {
        return;
      }

      // Create a new message item and append it to the message list as a "sent" by the user message
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      // Clear the input field after sending the message
      adviceMessage.value = '';

      // Send the form data to the server
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const isEnd = data.isEnd;
          const messageItem = document.createElement('li');

          // Display the server's response as a "sent" by chatbot message
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem)

          // If isEnd is true -> finish the conversation
          if (isEnd) {
            adviceForm.style.display = "none";
            const messageItem = document.createElement('li');
            // Show the final message
            messageItem.classList.add('message', 'received');
            messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                Brauchen Sie noch Hilfe?
              </div>
          </div>
          <div class="options-container" id="end-set-options" style="display:block">
              <button type="button" class="option-button" onclick="restartBot()">Ja bitte</button>
              <button type="button" class="option-button" onclick="ending()">Nein danke</button>
              <button type="button" class="option-button" onclick="humanSupportHelp()">Kontakt mit menschlicher Hilfe</button>            
              </div>
            `;
            messagesList.appendChild(messageItem);
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });
  }

  // Function to handle returns
  function requestReturn() {

    // Access various elements on the page that will be manipulated
    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    // Hide the block with the initial choice options
    options.style.display = 'none';
    // Display the selected option as a "sent" by the user message in the chat
    firstAnswer.style.display = 'block';
    content.textContent = 'Rückgabe beantragen';

    // Open the link with the return form
    const linkReturn = "https://altruan.return-service.online/";
    window.open(linkReturn, "_blank")

    const messagesList = document.querySelector('.messages-list');

    // Show the final message
    const lastQuestion = document.createElement('li');
    lastQuestion.classList.add('message', 'received');
    lastQuestion.innerHTML = `
    <div class="message-text">
        <div class="message-sender">
          <b>AI Chatbot</b>
        </div>
        <div class="message-content">
          Brauchen Sie noch Hilfe?
        </div>
    </div>
    <div class="options-container" id="end-set-options" style="display:block">
        <button type="button" class="option-button" onclick="restartBot()">Ja bitte</button>
        <button type="button" class="option-button" onclick="ending()">Nein danke</button>
        <button type="button" class="option-button" onclick="humanSupportHelp()">Kontakt mit menschlicher Hilfe</button>
      </div>
      `;
    messagesList.appendChild(lastQuestion);

  }

  // Function that is started after the Forgot Order Number Button was clicked
  function forgotNumber() {
    // Hide the button
    const forgotButton = document.getElementById('forgot-button')
    forgotButton.style.display = 'none';

    // Access various elements on the page that will be manipulated
    const messagesList = document.querySelector('.messages-list');
    const trackShipmentForm = document.querySelector('.salesOrderNumber-form');

    // Hide the 'track-shipment' form
    trackShipmentForm.style.display = 'none';

    /* The first time this function is executed:
          - display the button's text as a message "sent" by the user
          - display the chatbot's question as a message "sent" by the chatbot
     */
    if (isFirstTimeForgotFunc) {
      const userAnswerForgot = document.createElement('li');
      userAnswerForgot.classList.add('message', 'sent')
      userAnswerForgot.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Sie</b>
            </div>
            <div class="message-content">
              Ich habe die Auftragsnummer vergessen
            </div>
        </div>`;
      messagesList.appendChild(userAnswerForgot);
      isFirstTimeForgotFunc = false;

      const chatBotAskEmail = document.createElement('li');
      chatBotAskEmail.classList.add('message', 'received')
      chatBotAskEmail.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Bitte geben Sie Ihre E-Mail-Adresse ein
            </div>
        </div>
          `;
      messagesList.appendChild(chatBotAskEmail);
    }

    // Display the email form
    const emailForm = document.querySelector('.email-form');
    const email = document.querySelector('.email');
    emailForm.style.display = 'block';

    // Add event listener for form submission to prevent default form submission and handle it
    emailForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const message = email.value.trim();
      const messageName = email.name;
      // Check if the message is empty
      if (message.length === 0) {
        return;
      }

      const messageItem = document.createElement('li');

      // Create a new message item and append it to the message list as a "sent" by the user message
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      // Clear the input field after sending the message
      email.value = '';

      // Send the form data to the server
      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const isFound = data.isFound;
          const messageItem = document.createElement('li');

          // Display the server's response as a "sent" by chatbot message
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);

          // If nothing was found, repeat
          if (!isFound) {
            forgotNumber();
          } else {            // Otherwise show the final message
            const messageItem = document.createElement('li');
            messageItem.classList.add('message', 'received');
            messageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                  <b>AI Chatbot</b>
                </div>
                <div class="message-content">
                  Brauchen Sie noch Hilfe?
                </div>
            </div>
            <div class="options-container" id="end-set-options" style="display:block">
                <button type="button" class="option-button" onclick="restartBot()">Ja bitte</button>
                <button type="button" class="option-button" onclick="ending()">Nein danke</button>
                <button type="button" class="option-button" onclick="humanSupportHelp()">Kontakt mit menschlicher Hilfe</button>
              </div>
              `;
            messagesList.appendChild(messageItem);
          }

        })
        .catch(error => {
          console.error('Error:', error);
        })
    });
  }

  // Function to restart the chatbot
  function restartBot() {
    location.reload();
  }

  // Function that is executed when the user needs help from a human support employee
  function humanSupportHelp() {

    // Access various elements on the page that will be manipulated
    const messagesList = document.querySelector('.messages-list');
    const options = document.getElementById('end-set-options');
    const salesOrderNumberForm = document.querySelector('.salesOrderNumber-form');
    const emailForm = document.querySelector('.email-form');
    const productForm = document.querySelector('.product-form');

    // Hide the selection buttons
    options.style.display = 'none';
    // Hide all forms from all features
    salesOrderNumberForm.style.display = 'none';
    emailForm.style.display = 'none';
    productForm.style.display = 'none';

    // Displays the selected option as a message "sent" by the user
    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Sie</b>
            </div>
            <div class="message-content">
              Kontakt mit menschlicher Hilfe
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    // Displays company's contact information
    const messageItemAnswer = document.createElement('li');
    messageItemAnswer.classList.add('message', 'received');
    messageItemAnswer.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Für weitere Fragen oder Informationen stehen wir Ihnen gerne zur Verfügung.<br>
              Sie können uns per E-Mail unter  <a href="mailto:info@altruan.de">info@altruan.de</a> kontaktieren oder uns telefonisch erreichen:<br>
              <br>
              Vertrieb: +49 8724 28596 800<br>
              Service: +49 8724 28596 801<br><br>
              
              Alternativ können Sie uns auch über WhatsApp kontaktieren. Nutzen Sie dazu folgenden Link:
              <a href="https://api.whatsapp.com/send?phone=4987242859670" target="_blank">WhatsApp</a><br><br>
              
              Wir freuen uns darauf, von Ihnen zu hören!
            </div>
        </div>
          `;
    messagesList.appendChild(messageItemAnswer);
  }

  // Function that handles the finish of the conversation
  function ending() {

    // Access various elements on the page that will be manipulated
    const messagesList = document.querySelector('.messages-list');
    const options = document.getElementById('end-set-options');
    const salesOrderNumberForm = document.querySelector('.salesOrderNumber-form');
    const emailForm = document.querySelector('.email-form');
    const productForm = document.querySelector('.product-form');

    // Hide all forms from all features
    options.style.display = 'none';
    salesOrderNumberForm.style.display = 'none';
    emailForm.style.display = 'none';
    productForm.style.display = 'none';

    // Displays the selected option as a message "sent" by the user
    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Sie</b>
            </div>
            <div class="message-content">
                Nein danke
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    // Displays the final message
    const messageItemAnswer = document.createElement('li');
    messageItemAnswer.classList.add('message', 'received');
    messageItemAnswer.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Es war mir ein Vergnügen, Ihnen zu helfen!
            </div>
        </div>
          `;
    messagesList.appendChild(messageItemAnswer);
  }


</script>
{% endblock %}