{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }

    .salesOrderNumber-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .product-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .track-shipment {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .product-description {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }
    
    .btn-send {
      border-radius: 0;
      margin-right: 20px;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .options-container.hidden {
    display: none;
}
    .option-button {
    margin: 10px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.option-button:hover {
    background-color: #007bff;
    color: #fff;
}

.forgot-button {
    margin: 10px;
    padding: 5px;
    border: 0px;
    background-color: #fff;
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-button:hover {
    background-color: #007bff;
    color: #fff;
}

  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-primary text-white">Chat</div>

    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hallo, ich bin Ihr AI-Chatbot, Sie können mich alles fragen!
            </div>
          </div>
        </li>

        <div class="options-container" id="first-set-options" style="display:block">
          <button type="button" class="option-button" onclick="trackShipment()">Lieferung verfolgen</button>
          <button type="button" class="option-button" onclick="findProduct()">Hilfe bei der Produktsuche</button>
          <button type="button" class="option-button" onclick="requestReturn()">Rückgabe beantragen</button>
        </div>
        
        <li class="message sent">
          <div class="message-text" id="first-answer" style="display:none;">
            <div class="message-sender">
              <b>Sie</b>
            </div>
            <div class="message-content">
            </div>
          </div> </li>
        

        <div id="track-shipment" style="display:none;">
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>AI Chatbot</b>
                  </div>
                  <div class="message-content">
                    Bitte geben Sie die Auftragsnummer ein
                    <button id="forgot-button" type="button" class="forgot-button" onclick="forgotNumber()" style="display:block">Ich habe die Auftragsnummer vergessen</button>
                  </div>
                </div>
              </li>
      
              {% for chat in chats %}
                {% if chat.user == request.user %}
      
                  <li class="message sent">
                <div class="message-text">
                  <div class="message-sender">
                    <b>Sie</b>
                  </div>
                  <div class="message-content">
                    {{chat.message}}
                  </div>
                </div>
              </li>
      
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>AI Chatbot</b>
                  </div>
                  <div class="message-content">
                    {{chat.response}}
                  </div>
                </div>
              </li>
      
                {% endif %}
              {% endfor %}

          <form class="salesOrderNumber-form">
          {%csrf_token%}
          <div class="input-group">
            <input type="text" id="sales-order-number" class="track-shipment" name="salesOrderNumber">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-send">Senden</button>
            </div>
          </div></form>
        </div>
   

        <div id="find-customer" style="display:none;">
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                Bitte geben Sie Ihre E-Mail-Adresse ein
              </div>
            </div>
          </li>
  
          {% for chat in chats %}
            {% if chat.user == request.user %}
  
              <li class="message sent">
            <div class="message-text">
              <div class="message-sender">
                <b>Sie</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </li>
  
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                {{chat.response}}
              </div>
            </div>
          </li>
  
            {% endif %}
          {% endfor %}

      <form class="email-form">
      {%csrf_token%}
      <div class="input-group">
        <input type="text" id="email" class="email" name="productDescription">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-send">Senden</button>
        </div>
      </div></form>
    </div>


        <div id="find-product" style="display:none;">
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>AI Chatbot</b>
                  </div>
                  <div class="message-content">
                    Bitte beschreiben Sie, welche Art von Produkt Sie suchen?
                  </div>
                </div>
              </li>
      
              {% for chat in chats %}
                {% if chat.user == request.user %}
      
                  <li class="message sent">
                <div class="message-text">
                  <div class="message-sender">
                    <b>Sie</b>
                  </div>
                  <div class="message-content">
                    {{chat.message}}
                  </div>
                </div>
              </li>
      
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>AI Chatbot</b>
                  </div>
                  <div class="message-content">
                    {{chat.response}}
                  </div>
                </div>
              </li>
      
                {% endif %}
              {% endfor %}

          <form class="product-form">
          {%csrf_token%}
          <div class="input-group">
            <input type="text" id="product-info" class="product-description" name="productDescription">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-send">Senden</button>
            </div>
          </div></form>
        </div>

      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
</div>

<script>

  function trackShipment() {
    const messagesList = document.querySelector('.messages-list');
    const hiddenDiv = document.getElementById('track-shipment');
    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    hiddenDiv.style.display = 'block';
    options.style.display = 'none';
    firstAnswer.style.display = 'block';
    content.textContent = 'Lieferung verfolgen';

    const salesOrderNumberForm = document.querySelector('.salesOrderNumber-form');
    const salesOrderNumber = document.querySelector('.track-shipment');

    salesOrderNumberForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const message = salesOrderNumber.value.trim();
      const messageName = salesOrderNumber.name;
      if (message.length === 0) {
        return;
      }

      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      salesOrderNumber.value = '';

      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const isFound = data.isFound;
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem);
          
          })
          .catch(error => {
                console.error('Error:', error);
              });
          if (!isFound) {
            trackShipment();
          } else {
          const messageItem = document.createElement('li');
            messageItem.classList.add('message', 'received');
            messageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender">
                  <b>AI Chatbot</b>
                </div>
                <div class="message-content">
                  Brauchen Sie noch Hilfe?
                </div>
            </div>
            <div class="options-container" id="end-set-options" style="display:block">
                <button type="button" class="option-button" onclick="humanSupportHelp()">Ja bitte</button>
                <button type="button" class="option-button" onclick="ending()">Nein danke</button>
              </div>
              `;
            messagesList.appendChild(messageItem);
          }
          
            
          
       });
    }



  function findProduct() {
    
    const messagesList = document.querySelector('.messages-list');
    const hiddenDiv = document.getElementById('find-product');
    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    hiddenDiv.style.display = 'block';
    options.style.display = 'none';
    firstAnswer.style.display = 'block';
    content.textContent = 'Hilfe bei der Produktsuche';

    const productForm = document.querySelector('.product-form')
    const productDescription = document.querySelector('.product-description');

    productForm.addEventListener('submit', (event) => {
      event.preventDefault();
    
      const message = productDescription.value.trim();
      const messageName = productDescription.name;
      if (message.length === 0) {
        return;
      }

      const messageItem = document.createElement('li');
      messageItem.classList.add('message', 'sent');
      messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                  <b>Sie</b>
              </div>
              <div class="message-content">
                  ${message}
              </div>
          </div>`;
      messagesList.appendChild(messageItem);

      productDescription.value = '';

      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message,
          "name": messageName
        })
      })
        .then(response => response.json())
        .then(data => {
          console.log('Response from server:', data);
          const response = data.response;
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                  ${response}
              </div>
          </div>
            `;
          messagesList.appendChild(messageItem)
        
        })
        .then(data => {
          const messageItem = document.createElement('li');
          messageItem.classList.add('message', 'received');
          messageItem.innerHTML = `
          <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
                Brauchen Sie noch Hilfe?
              </div>
          </div>
          <div class="options-container" id="end-set-options" style="display:block">
              <button type="button" class="option-button" onclick="humanSupportHelp()">Ja bitte</button>
              <button type="button" class="option-button" onclick="ending()">Nein danke</button>
            </div>
            `;
          messagesList.appendChild(messageItem);
        })
        .catch(error => {
              console.error('Error:', error);
        });
    });
  }

  function requestReturn() {

    const options = document.getElementById('first-set-options');
    const firstAnswer = document.getElementById('first-answer');
    const content = firstAnswer.querySelector('.message-content');

    options.style.display = 'none';
    firstAnswer.style.display = 'block';
    content.textContent = 'Rückgabe beantragen';

    const linkReturn = "https://altruan.return-service.online/";
    window.open(linkReturn, "_blank")

    const messagesList = document.querySelector('.messages-list');

    const lastQuestion = document.createElement('li');
    lastQuestion.classList.add('message', 'received');
    lastQuestion.innerHTML = `
    <div class="message-text">
        <div class="message-sender">
          <b>AI Chatbot</b>
        </div>
        <div class="message-content">
          Brauchen Sie noch Hilfe?
        </div>
    </div>
    <div class="options-container" id="end-set-options" style="display:block">
        <button type="button" class="option-button" onclick="humanSupportHelp()">Ja bitte</button>
        <button type="button" class="option-button" onclick="ending()">Nein danke</button>
      </div>
      `;
    messagesList.appendChild(lastQuestion);
  
  }

  function forgotNumber() {
    const forgotButton = document.getElementById('forgot-button')

    forgotButton.style.display = 'none';

  }

  function humanSupportHelp() {
  
    const options = document.getElementById('end-set-options');

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Sie</b>
            </div>
            <div class="message-content">
                Ja bitte
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    const messageItemAnswer = document.createElement('li');
      messageItemAnswer.classList.add('message', 'received');
      messageItemAnswer.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Für weitere Fragen oder Informationen stehen wir Ihnen gerne zur Verfügung.<br>
              Sie können uns per E-Mail unter  <a href="mailto:info@altruan.de">info@altruan.de</a> kontaktieren oder uns telefonisch erreichen:<br>
              <br>
              Vertrieb: +49 8724 28596 800<br>
              Service: +49 8724 28596 801<br><br>
              
              Alternativ können Sie uns auch über WhatsApp kontaktieren. Nutzen Sie dazu folgenden Link:
              <a href="https://api.whatsapp.com/send?phone=4987242859670" target="_blank">WhatsApp</a><br><br>
              
              Wir freuen uns darauf, von Ihnen zu hören!
            </div>
        </div>
          `;
        messagesList.appendChild(messageItemAnswer);
       
    options.style.display = 'none';

  }


  function ending() {
  
    const options = document.getElementById('end-set-options');

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Sie</b>
            </div>
            <div class="message-content">
                Nein danke
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    const messageItemAnswer = document.createElement('li');
      messageItemAnswer.classList.add('message', 'received');
      messageItemAnswer.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Es war mir ein Vergnügen, Ihnen zu helfen!
            </div>
        </div>
          `;
        messagesList.appendChild(messageItemAnswer);
       
    options.style.display = 'none';

  }


</script>
{% endblock %}